@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Warm Welcome buddy.

<div>My Key: <b>@_myValue</b></div>

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@AddToStorage">Add to storage</button>