@page "/"

@inject IStringLocalizer<Resource> Loc

<PageTitle>Index</PageTitle>

<h1>@Loc["Hello"], world!</h1>

Warm Welcome buddy.

<div>My Key: <b>@_myValue</b></div>

<ErrorBoundary>
    <SurveyPrompt Title="How is Blazor working for you?" />
</ErrorBoundary>

<ErrorBoundary>
    <ChildContent>
        <SurveyPrompt Title="How is Blazor working for you?" />
    </ChildContent>
    <ErrorContent>
        <div>sample error content</div>
    </ErrorContent>
</ErrorBoundary>

<button style="margin-top: 15px;" @onclick="@AddToStorage">Add to storage</button>